body {
    background-color: #ffe100;
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: darkred;
}

#navbar {
    margin-bottom: 20px;
}

.nav-button {
    background-color: orange;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(9, 31, 105);
    cursor: pointer;
}

.nav-button:hover {
    background-color: yellow;
}
